@import "tailwindcss";
@plugin "daisyui";

body{
    background-image: url(/bg.avif) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(12, 107, 121, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 211, 238, 0.9);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(31, 114, 126, 0.6) transparent;
}